@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-display: swap;
    src: local('Pretendard ExtraBold'), url(./woff2/Pretendard-ExtraBold.woff2) format('woff2'), url(./woff/Pretendard-ExtraBold.woff) format('woff');
}

body{
    font-family: GongGothicMedium, Pretendard ;

    /* background-repeat: no-repeat;
    
    background-attachment: fixed; */
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,table,tr,th,td{ margin:0; padding:0; }
li{ list-style:none; }
a{ text-decoration:none; }
button{ border:0; background:none; cursor:pointer; } 
section{ clear:both; width:100%; } 
/* .job{ background: url(../images/job_bg.jpg) no-repeat center top/cover fixed; }
.port{ background: url(../images/port_bg.jpg) no-repeat center top/cover fixed; }
.contact{ background: url(../images/contact_bg.jpg) no-repeat center top/cover fixed; }   */
 
/* 모바일환경(css)-스크린폭: 최대 500px 이하 */ 

@media screen and (max-width:500px){
    

    /* header  -------------------------------------*/
    #header{
        height: 125px;
        border: 1px solid #E2E5EC;
        box-sizing: border-box;
    }
    h1{
        font-family: GongGothicMedium;
        font-size: 30px;
        font-weight: 700;
        line-height: 125px;
        padding-left: 23px;
    }
    h1 a {
        color: #000;
    }
    .nav_btn{
        position: fixed;
        right: 10px;
        top: 0;
    }
    .nav_btn button, .nav_close_btn button{
        width: 55px;
        height: 33px;
        margin: 46px 20px 0 0;
        color: #000;
    }
    .nav_btn button:hover, .nav_close_btn button:hover{
        background: none;
        color: #000;
    }
    nav{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        margin-left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(47 113 250 / 97%);
    }
    .nav_close_btn{
        height: 125px;
        padding-right: 10px;
        text-align: right;
    }
    .gnb button{
        display: block;
        width: 100%;
        height: 60px;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
    .gnb button:hover{
        background: #fff;
        color: #000;
    }
    
    /*  intro  -------------------------------------*/
    .intro{
        overflow: hidden;
        background: url(../images/b_img_3.png) no-repeat center right;
        background-position: center 50px;
        background-size: 80% auto;
        height: 730px;
    }
    .intro_wrap {
        text-align: center;
    }
    .intro_wrap h2{
        display: none;
    }
    .typing-txt span br {
        display: none;
    }
    .typing-txt {
        margin-top: 78%;
        font-family: Pretendard;
    }
    .typing-txt span:nth-of-type(1) {
        font-size: 29px;
        font-weight: 700;
        color: #222222;
        line-height: 40px;
    }
    .typing-txt span:nth-of-type(2) {
        font-size: 34px;
        font-weight: 800;
        color: #2F71FA;
    }
    .typing-txt span:nth-of-type(3) {
        font-size: 18px;
        color: #999999;
    }
    

    /*  profile  -------------------------------------*/

    #container section:nth-of-type(2) {
        height: 1356px;
        text-align: center;
    }
    .profile {
        background: url(../images/bg_mob_1.png), url(../images/bg_mob_2.png) #2F71FA;
        color: #fff;
        background-repeat: no-repeat;
        background-position: top left -60px, bottom right -60px;
    }
    .profile_wrap h2 {
        display: none;
    }
    .profile_wrap>div {
        width: 100%;
        float: left;
    }
    .profile_img p {
        text-align: center;
    }

    .profile_img p:nth-of-type(1) {
        font-family: GongGothicMedium;
        font-weight: 400;
        font-size: 26px;
        margin-top: 20px;
    }

    .profile_img p:nth-of-type(2) {
        font-family: GongGothicMedium;
        font-weight: 300;
        font-size: 19px;
        margin-top: 5px;
    }
    .profile_wrap h3 {
        font-family: GongGothicMedium;
        font-weight: 300;
        font-size: 27px;
        margin: 80px 0 35px 0;
    }
    .profile_img img{
        width: 90%;
    }
    .profile_img li{
        width: 57%;
        border-radius: 23px;
        overflow: hidden;
        margin: 125px auto 30px auto;
    }
    .profile_career dl {
        height: 300px;
        text-align: left;
        text-indent: 10px;
        font-family: Pretendard;
        font-weight: 400;
        font-size: 15px;
    }
    .profile_career dt {
        height: 45px;
        width: 40%;
        float: left;
    }
    .profile_career dd {
        height: 45px;
        width: 60%;
        float: left;
    }
    
    /* job  -------------------------------------*/
    #container section:nth-of-type(3) {
        height: 1193px;
    }
    .job {
        color: #000;
        background: #F3F6F9;
    }
    .job_wrap h2 {
        text-align: center;
        font-family: Pretendard;
        font-size: 35px;
        font-weight: 800;
        color: #222222;
        padding: 70px 0 50px 0;
    }

    .job_info {
        color: #000;
    }
    .job_info li {
        padding: 5% 4%;
        background: #fff;
        width: 45%;
        height: 460px;
        margin: 5px 2.5%;
        float: left;
        border-radius: 20px;
        border: 1px solid #E2E5EC;
        box-sizing: border-box;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
    }
    .job_info li p:nth-of-type(1) {
        font-family: Pretendard;
        font-size: 23px;
        font-weight: 800;
        margin: 15px 0 15px 0;
        color: #222222;
    }
    .job_info li p:last-child {
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 400;
        color: #555555;
        line-height: 26px;
    }
    .job_info li p:last-child br {
        display:none;
    }
    
    
    
    
    /* port  -------------------------------------*/

    #container section:nth-of-type(4) {
        height: 1276px;
    }

    .port {
        color: #000;
    }
    .port h2 {
        text-align: center;
        font-family: Pretendard;
        font-size: 35px;
        font-weight: 800;
        color: #222222;
        padding: 70px 0 50px 0;
    }
    .port_btn{
        width: 90%;
        height: 50px;
        margin: 0 5% 15px;
    }
    .port_btn button{
        display:block;
        float:left;
        width:30%;
        height:40px;
        margin:0 1.6%;
        box-sizing: border-box;
        font-size:18px;
        border-radius:10px;
        color: #000;
        font-family: GangwonEdu_OTFBoldA;
    }
    .port_btn button:after {
        margin: 0 -44% 0 37%;
        content: '|';
        color: #ccc;
    }
    .port_btn button:nth-of-type(3)::after {
        content: '';
    }
    .port_wrap ul{
        width: 90%;
        margin:0 auto;
    }

    .port_wrap li h3{
        font-size:22px;
        height:50px;
        line-height:50px;
        margin-bottom:25px;
    }
    .port_table_wrap>p {
        width: 90%;
        float: left;
        margin: 0 5% 20px;
    }
    .port_vue_img>p {
        width: 90%;
        float: left;
        background: #d9d9d9;
        margin: 0 5% 20px;
    }
    .port_table_wrap {
        width: 100%;
    }
    .port_table_wrap img {
        width: 100%;
        height: 100%
    }
    .port_vue_img img {
        width: 46%;
        height: 100%
    }

    .port_info {
        width: 100%;
        float: left;
        display: block;
        padding: 15px 0;
    }

    .port_info dt {
        width: 100%;
        height: 35px;
        line-height: 40px;
        font-size: 19px;
    }

    .port_info dd {
        width: 100%;
        height: 35px;
        line-height: 40px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .port_explain {
        width: 100%;
        height: 40px;
        float: left;
    }

    .port_explain p {
        width: 40%;
        float: left;
        margin: 0 5%;
    }

    .port_explain p:nth-of-type(1) {
        width: 100%;
        height: 60px;
        line-height: 60px;
        margin: 0 0 12px 4px;
        font-size: 13px;
        overflow: scroll;
        white-space: nowrap;
    }
    .port_explain p a {
        display: block;
        height: 50px;
        line-height: 50px;
        background: #fff;
        color: #000;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgb(186 213 205);
    }
    .port_link p:nth-of-type(2) {
        width: 65%;
        margin: 0 17.5%;
    }

    .port_lang span {
        text-align: center;
        display: block;
        color: #fff;
        height: 19px;
        line-height: 24px;
        padding: 0 3px;
        border-radius: 5px;
        float: left;
        margin-right: 3px;
    }

    .port_lang span:nth-of-type(1) {
        background: #ff782f;
    }

    .port_lang span:nth-of-type(2) {
        background: #0760ff;
    }

    .port_lang span:nth-of-type(3) {
        background: #ffce52;
    }

    .port_lang span:nth-of-type(4) {
        background: #011f81;
    }

    .port_lang span:nth-of-type(5) {
        background: #570503;
    }

    .port_lang_vue span:nth-of-type(1) {
        background: #18c38b;
    }
    
    /* contact  -------------------------------------*/
    .contact{
        clear:both;
    }
    .contact_wrap{
        width:90%;
        margin:0 5%;
    }
    .contact_wrap h2 {
        display: block;
        padding: 40px 0 75px;
        height: 80px;
        line-height: 35px;
        font-size: 30px;
    }
    .contact_wrap h2 p {
        font-size: 16px;
    }
    .contact_wrap h2 p::after {
        position: absolute;
        content: '\f078';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 27px;
        animation: motion 1.3s linear 0s infinite;
        margin-top: 0;
        transform: translate(-50%, 0%);
    }
    @keyframes motion {
        0% {
            margin-top: 0px;
        }

        20% {
            margin-top: 10px;
        }

        40% {
            margin-top: 0px;
        }

        60% {
            margin-top: 10px;
        }

        80% {
            margin-top: 0px;
        }

        100% {
            margin-top: 0px;
        }
    }

    .contact_info {
        width: 345px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact_info li {
        float: left;
        width: 190px;
        height: 120px;
        text-align: left;
        padding-top: 20px;
    }

    .contact_info li p {
        margin-top: 20px;
    }

    .address::before {
        content: '\f3c5';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 29px;
        margin-right: 15px;
    }

    .address p {
        margin-left: 40px;
    }

    .cellphone::before {
        content: '\f3cf';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 29px;
        margin-right: 15px;
    }

    .cellphone p {
        margin-left: 40px;
    }

    .email::before {
        content: '\f0e0';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 29px;
        margin-right: 15px;
    }

    .email p {
        margin-left: 50px;
    }

    .website::before {
        content: '\f015';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 29px;
        margin-right: 15px;
    }

    .website p {
        margin-left: 52px;
    }
    
    /* footer  -------------------------------------*/
    #footer{
        height:50px;
        text-align:center;
    }
    .footer_wrap p:first-child{
        position:fixed;
        right: 20px;
        bottom:30px;
    }

    .footer_wrap p:last-child {
        height: 50px;
        line-height: 50px;
        font-size: 17px;
    }
}





/* 태블릿환경(css)-스크린폭: 최소 500px 이상 최대 1200px 이하 */

@media screen and (min-width:500px) and (max-width:1200px){
    
    section h2 { display: none; }
    
    /* 1. header  -------------------------------------*/
    #header{ 
        height:80px; 
        box-sizing:border-box;
    }
    h1{
        font-family: yg-jalnan;
        font-size: 25px;
        line-height: 80px; 
        padding-left:30px;
    }
    h1 a{
        color: #000;
    }
    .nav_btn{ 
        position:fixed;
        right:10px;
        top:0;
    }
    .fa-bars{
        font-size: 29px;
        color: #000;
    }
    .nav_btn button, .nav_close_btn button{ 
        width:45px;
        height:45px;
        margin:17px 10px 0 0;
        color: #000;
    }
    .nav_btn button:hover, .nav_close_btn button:hover{
        background:none;
        color:#000;
    }
    nav{
        position:fixed;
        z-index:1;
        left:0;
        top:0;
        margin-left:-100%;
        width:65%;
        height:100%;
		background: rgb(140 185 172 / 97%);
    }
    .nav_close_btn{
        height:80px;
        background:rgb(140 185 172 / 97%);
        padding-right:10px;
        text-align: right; 
    }

    .gnb li{
        width:100%;
        height:50px;
    }

    .gnb button{
        display:block;
        width:100%;
        height:60px;
        font-size:18px;
        font-weight:bold;
        color:#fff;
    }
    .gnb button:hover{
        background:#fff;
        color:#000;
    }

    /* 2. intro  -------------------------------------*/
    .intro{ 
      width:100%;
      height:100%;
      overflow:hidden;

    }
    .intro_wrap h2{
        display:none;
    }
    .intro_wrap {
        /* width: 100%; */
        padding: 200px 50px 0;
    }
    .intro_wrap h2 {
        display: none;
    }
    .typing-txt {
        display: none;
    }
    .typing {
        /*position: absolute;*/
        display: inline-block;
        animation-name: cursor;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        font-size: 30px;
    }

    /* 3. container  -------------------------------------*/

    #container section:not(:first-child){
        height:1000px;
        text-align:center;
    }

    /* 4. profile  -------------------------------------*/
    .profile_wrap>div {
        width: 100%;
        float: left;
        text-align: left;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    .profile_wrap h3 {
        font-size: 27px;
        margin: 15px 0 10px 10px;
    }
    .profile_info{
        height:850px;
        text-align:left;
        margin:0 0 0 5%;
        font-size:20px;
        padding:50px 5px;
        color:#000;
        float: left;
    }
    .profile_info dt {
        height: 30px;
        line-height: 30px;
    }
    .profile_info dd {
        height: 30px;
        line-height: 30px;
    }
    .profile_img img{
        width:100%;
        height:100%;
    }
    .profile_img{
        clear:both;
        margin-bottom:25px;
    }
    .profile_img li{
        width:200px;
        height:265px;
        border-radius:23px;
        overflow:hidden;
        margin-right:50px;
    }
    .profile_career{
        height: 850px;
        text-align: left;
        margin: 0 5% 0 0;
        font-size: 19px;
        padding: 50px 5px;
        color: #000;
    }
    .profile_career dl {
        padding-top: 5px;
    }
    .profile_career dt {
        line-height: 35px;
    }
    .profile_career dd {
        line-height: 35px;
    }


    /* 5. job  -------------------------------------*/
    .job_chart{
        width:90%;
        margin:40px 5% 0;
    }
    .job_chart li{
        width:100%;
        height:40px;
        margin:10px 0;
        line-height:40px;
        color:#fff;
    }
    .job_chart li p{
        text-align:left;
        text-indent:10px;
        overflow:hidden;
        font-weight: bold;
        border-radius: 7px;
        opacity: 0.87;
        height: 40px;
        line-height: 45px;
    } 
    .job_chart li:nth-child(1) p{
        width:90%; background:#ff782f;
    }
    .job_chart li:nth-child(2) p{
        width:95%; background:#0760ff;
    }
    .job_chart li:nth-child(3) p{
        width:85%; background:#ffce52;
    }
    .job_chart li:nth-child(4) p{
        width:80%; background:#59b254;
    }
    
    .job_info{
        color:#000;
    }
    
    .job_info li{
        width:42.5%;
        height:180px;
        float:left;
        padding-top:15px;
        background: rgba(171, 221, 207, 0.4);
        border-radius:23px;
    }
    .job_info li:nth-child(1){
        margin:15px 5%;
    }
    .job_info li:nth-child(2){
        margin:15px 5% 0 0;
    }
    .job_info li:nth-child(3){
        margin:15px 5%;
    }
    .job_info li:nth-child(4){
        margin:15px 5% 0 0;
    }
    
    .job_info li:nth-child(4) img {
        width: 50px;
        height: 50px;
        padding: 7px;
    }

    .job_info li p:first-child{
        height:60px;
        line-height:60px;
        font-size:20px;
    }
    .job_info li p:last-child{
        padding:0 10px;
        padding-bottom:15px;
    }
    .job_info li p:last-child br{
        display:none;
    }


    /* 6. port  -------------------------------------*/
    .port{
        color:#000;
    }
    .port_btn{
        width:90%;
        height:50px;
        margin:0 5% 40px;
    }
    .port_btn button{
        display:block;
        float:left;
        width:30%;
        height:40px;
        margin:0 1.6%;
        box-sizing: border-box;
        font-size:18px;
        border-radius:10px;
        color:#000;
        font-family: GangwonEdu_OTFBoldA;
    }
    .port_btn button:after {
        margin: 0 -51% 0 43%;
        content: '|';
        color: #ccc;
    }

    .port_btn button:nth-of-type(3)::after {
        content: '';
    }
    
    .port_wrap ul{
        width:90%;
        margin:0 auto;
    }
    .port_wrap li h3{
        font-size:22px;
        height:50px;
        line-height:50px;
        margin-bottom: 25px;
    }

    .port_table_wrap>p {
        width: 90%;
        float: left;
        margin: 0 5%;
    }
    .port_vue_img>p {
        width: 90%;
        float: left;
        background: #d9d9d9;
        margin: 0 5%;
    }

    .port_table_wrap {
        width: 100%;
    }
    .port_table_wrap img{
        width: 100%;
        height: 100%
    }
    .port_vue_img img {
        width: 46%;
        height: 100%
    }
    
    .port_info {
        width: 100%;
        float: left;
        display: flex;
        flex-flow: row wrap;
        padding: 15px 0;
    }
    .port_info dt {
        width: 40%;
        height: 35px;
        line-height: 40px;
        font-size: 19px;
    }

    .port_info dd {
        width: 60%;
        height: 35px;
        line-height: 40px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .port_explain {
        width: 100%;
        height: 40px;
        float: left;
    }
    .port_explain p {
        width: 40%;
        float: left;
        margin: 0 5%;
    }
    .port_explain p:nth-of-type(1) {
        width: 100%;
        height: 60px;
        line-height: 60px;
        margin: 0 0 12px 4px;
        font-size: 18px;
    }

    .port_explain p a{
        display:block;
        height:50px;
        line-height:50px;
        background: #fff;
        color: #000;
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgb(186 213 205);
    }
    .port_link p:nth-of-type(2) {
        width: 65%;
        margin: 0 17.5%;
    }

    .port_lang span {
        text-align: center;
        display: block;
        color: #fff;
        height: 19px;
        line-height: 24px;
        padding: 0 3px;
        border-radius: 5px;
        float: left;
        margin-right: 3px;
    }

    .port_lang span:nth-of-type(1) {
        background: #ff782f;
    }

    .port_lang span:nth-of-type(2) {
        background: #0760ff;
    }

    .port_lang span:nth-of-type(3) {
        background: #ffce52;
    }

    .port_lang span:nth-of-type(4) {
        background: #011f81;
    }

    .port_lang span:nth-of-type(5) {
        background: #570503;
    }

    .port_lang_vue span:nth-of-type(1) {
        background: #18c38b;
    }




    /* 7. contact  -------------------------------------*/

    .contact{
        clear:both;
    }
    .contact_wrap{
        width:90%;
        margin:0 5%;
    }
    .contact_wrap h2{
        display:block;
        padding: 150px 0 75px;
        height: 80px;
        line-height: 35px;
        font-size: 30px;
    }
    .contact_wrap h2 p {
        font-size: 16px;
    }
    .contact_wrap h2 p::after {
        position: absolute;
        content: '\f078';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 27px;
        animation: motion 1.3s linear 0s infinite;
        margin-top: 0;
        transform: translate(-50%, 0%);
    }

    @keyframes motion {
        0% {
            margin-top: 0px;
        }

        20% {
            margin-top: 10px;
        }

        40% {
            margin-top: 0px;
        }

        60% {
            margin-top: 10px;
        }

        80% {
            margin-top: 0px;
        }

        100% {
            margin-top: 0px;
        }
    }


    .contact_info {
        width: 500px;
        height: 300px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact_info li {
        float: left;
        width: 227px;
        height: 140px;
        text-align: left;
        padding-top: 20px;
    }
    .contact_info li p {
        margin-top: 20px;
    }

    .address::before {
        content: '\f3c5';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 29px;
        margin-right: 15px;
    }
    .address p {
        margin-left: 40px;
    }
    .cellphone::before {
        content: '\f3cf';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 29px;
        margin-right: 15px;
    }
    .cellphone p {
        margin-left: 40px;
    }
    .email::before {
        content: '\f0e0';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 29px;
        margin-right: 15px;
    }
    .email p {
        margin-left: 50px;
    }
    .website::before {
        content: '\f015';
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        font-size: 29px;
        margin-right: 15px;
    }
    .website p {
        margin-left: 52px;
    }
    

    /* 8. footer  -------------------------------------*/
    #footer{
        height:50px;
        text-align:center;
    }
    .footer_wrap p:first-child{
        position:fixed;
        right: 20px;
        bottom:30px;
    }
    .footer_wrap p:last-child {
        height: 50px;
        line-height: 50px;
        font-size: 17px;
    }
}




/* 3. 데스크탑(css)-스크린폭: 최소 1200px 이상 */

@media screen and (min-width:1200px){
    /* 1. header  -------------------------------------*/
    #header{ 
        position:fixed;
        left:0;
        top:0;
        z-index:1;
        width:100%;
        height:120px;
        
    }
    .header_wrap{
        width:1200px;
        height:120px;
        margin:0 auto;
    }
    h1{
        font-family: GongGothicMedium;
        font-weight: 700;
        font-size:30px;
        line-height: 120px;
        float:left;
    }
    h1 a{
        color: #000;
    }
    .nav_btn, .nav_close_btn{
        display:none;
    }
    nav{
        float:right;
        margin-right:30px;
    }

    .gnb li{
        width:130px;
        height:80px;
        float:left;
    }

    .gnb button{
        display:block;
        width:100%;
        height:120px;
        font-size:18px;
        font-weight: 500;
        color:#000;
        font-family: Pretendard;
    }
    .gnb button:hover{
        border-bottom:3px solid #000;
        box-sizing:border-box;
    }
    
    
    #container {
        margin-top:120px;
    }
        
    /* 2. intro  -------------------------------------*/
    .intro {
        width: 1200px;
        overflow: hidden;
        background: url(../images/b_img_3.png) no-repeat center right;
        background-position: 100% 136px;
        margin: 0 auto;
        height: 651px;
    }
    .intro_wrap h2{
        display:none;
    }
    .typing-txt {
        margin-top: 188px;
        font-family: Pretendard;
    }
    .typing-txt span:nth-of-type(1) {
        font-size: 50px;
        font-weight: bold;
        color: #222222;
    }
    .typing-txt span:nth-of-type(2) {
        font-size: 60px;
        font-weight: 800;
        color: #2F71FA;
    }
    .typing-txt span:nth-of-type(3) {
        font-size: 18px;
        color: #999999;
    }

    
    /* 4. profile  -------------------------------------*/
    #container section:nth-of-type(2) {
        height: 820px;
    }
    .profile {
        background: url(../images/bg_1_1.png), url(../images/bg_1_2.png) #2F71FA;
        color: #fff;
        background-repeat: no-repeat;
        background-position: top left -125px, bottom right -125px;
    }
    .profile_wrap {
        width:1200px;
        margin:0 auto;
    }
    .profile_wrap h2 {
        display: none;
        color:#000;
        padding: 30px 0 15px 0;
    }
    .profile_wrap h3 {
        margin-bottom: 15px;
        font-family: GongGothicMedium;
        font-weight: 500;
        font-size: 24px;
    }
    .profile_wrap h3:nth-of-type(2) {
        margin-top: 65px;
    }
    .profile_wrap>div {
        width:1200px;
        text-align:left;
        font-size:20px;
    }
    .profile_img {
        width: 325px;
        height: 440px;
        float: left;
    }
    .profile_img img {
        width: 316px;
    }
    .profile_img li {
        width: 316px;
        height: 316px;
        border-radius: 23px;
        overflow: hidden;
    }
    .profile_img p {
        text-align: center;
    }
    .profile_img p:nth-of-type(1) {
        font-family: GongGothicMedium;
        font-weight: 500;
        font-size: 22px;
        margin-top: 20px;
    }
    .profile_img p:nth-of-type(2) {
        font-family: GongGothicMedium;
        font-weight: 300;
        font-size: 16px;
        margin-top: 5px;
    }
    .profile_info {
        width: 316px;
        height: 388px;
        margin-top: 216px;
        float: left;
    }
    .profile_career {
        width: 535px;
        height: 520px;
        float: left;
        margin: 150px 0 0 241px;
    }
    .profile_career dl {
        width: 660px;
        display: flex;
        flex-flow: row wrap;
        font-family: Pretendard;
        font-weight: 300;
        font-size: 18px;
    }
    .profile_career dt {
        width: 220px;
        height: 38px;
        line-height: 38px;
    }
    .profile_career dd {
        width: 400px;
        height: 38px;
        line-height: 38px;
    }

    
    /* 5. job  -------------------------------------*/
    #container section:nth-of-type(3) {
        height: 735px;
        text-align: center;
    }
    .job {
        height:1000px;
        color:#000;
        background: #F3F6F9;
    }
    .job_wrap {
        width:1200px;
        height: 735px;
        margin:0 auto;
    }
    .job_wrap h2 {
        padding: 150px 0 60px 0;
        font-family: Pretendard;
        font-size: 40px;
        font-weight: 800;
        color: #222222;
    }
    

    .job_info li {
        width: 270px;
        height: 327px;
        float: left;
        background: #fff;
        border-radius: 23px;
        border: 1px solid #E2E5EC;
        box-sizing: border-box;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
    }
    .job_info li:nth-of-type(1) {
        margin-right: 20px;
    }
    .job_info li:nth-of-type(2), .job_info li:nth-of-type(3) {
        margin: 0 20px;
    }
    .job_info li:nth-of-type(4) {
        margin-left: 20px;
    }
    .job_info li p {
        text-align: left;
        font-family: Pretendard;
    }
    .job_info li p:nth-child(2) {
        font-size: 24px;
        font-weight: 800;
        text-indent: 40px;
        margin: 31px 0 10px 0;
        color: #222222;
    }
    .job_info li p:nth-child(3) {
        font-size: 16px;
        font-weight: 400;
        margin: 0 35px 0 40px;
        color: #555555;
        line-height: 25px;
    }
    .job_info li img {
        text-align: left;
        display: block;
        margin: 40px 0 0 40px;
    }


    /* 6. port  -------------------------------------*/
    #container section:nth-of-type(4) {
        height: 925px;
        background: url(../images/Rectangle.png);
        background-repeat: no-repeat;
        background-position: 100% 66%;
    }
    .port {
        color:#000;
    }
    .port h2 {
        font-family: Pretendard;
        font-size: 40px;
        font-weight: 800;
        color: #222222;
    }
    .port_wrap {
        width: 1200px;
        height: 625px;
        margin: 0 auto;
        padding-top: 150px;
    }
    .btn_on {
        color: #2F71FA;
    }
    .port_btn {
        float: right;
        margin-top: -30px;
        color: #CCCCCC;
    }
    .port_btn button {
        display: block;
        float: left;
        margin: 0 15px;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: Pretendard;
        font-size: 24px;
        font-weight: 800;
    }
    .port_btn button:hover {
        color: #2F71FA;
    }
    .port_wrap ul {
        width: 1200px;
        margin: 150px auto 0;
    }
    .port_wrap li h3 {
        font-family: Pretendard;
        font-size: 30px;
        font-weight: 800;
        color: #222222;
    }
    .port_wrap li {
        width: 1200px;
        height: 400px;
    }
    .port_wrap li:nth-of-type(1) {
        background: url(../images/port.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
    .port_wrap li:nth-of-type(2) {
        background: url(../images/port2.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
    .port_wrap li:nth-of-type(3) {
        background: url(../images/port3.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
    .port_table_wrap {
        width: 493px;
    }
    
    .port_info {
        width: 565px;
        float: left;
        display: flex;
        flex-flow: row wrap;
        padding-top: 25px;
    }
    .port_info dt {
        width: 105px;
        height: 45px;
        line-height: 50px;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 600;
        color: #222222;
    }
    .port_info dd {
        width: 360px;
        height: 45px;
        line-height: 50px;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        align-items: center;
        color: #555555;
    }
    
    .port_explain {
        width: 565px;
        height: 160px;
        float: left;
    }
    .port_explain p {
        width: 180px;
        height: 60px;
        float: left;
    }
    .port_explain p:nth-of-type(1) {
        width: 565px;
        height: 60px;
        line-height: 60px;
        font-family: Pretendard;
        font-size: 18px;
        font-weight: 400;
        color: #222222;
        margin-bottom: 25px;
    }
    .port_explain p:nth-of-type(3) {
        margin-left: 10px;
    }

    .port_explain p a {
        display: block;
        height: 60px;
        line-height: 60px;
        background: #222;
        color: #fff;
        border-radius: 100px;
        border: 1px solid #222222;
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
    }
    .port_explain p a:hover {
        background: #fff;
        color: #222;
    }

    .port_link p:nth-of-type(2) {
        width: 180px;
    }

    .port_lang span:not(:first-child) {
        margin-left: 15px;
    }
    .port_lang span:nth-of-type(1) {
        background: url(../images/small_icon_1.png);
        background-repeat: no-repeat;
        width: 26px;
        height: 29px;
    }
    .port_lang span:nth-of-type(2) {
        background: url(../images/small_icon_2.png);
        background-repeat: no-repeat;
        width: 25px;
        height: 28px;
    }
    .port_lang span:nth-of-type(3) {
        background: url(../images/small_icon_3.png);
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
    }
    .port_lang span:nth-of-type(4) {
        background: url(../images/small_icon_4.png);
        background-repeat: no-repeat;
        width: 25px;
        height: 24px;
    }
    .port_lang span:nth-of-type(5) {
        background: url(../images/small_icon_5.png);
        background-repeat: no-repeat;
        width: 26px;
        height: 24px;
    }
    .port_lang_vue span:not(:first-child) {
        margin-left: 15px;
    }
    .port_lang_vue span:nth-of-type(1) {
        background: url(../images/small_icon_6.png);
        background-repeat: no-repeat;
        width: 32px;
        height: 28px;
    }
    .port_lang_vue span:nth-of-type(2) {
        background: url(../images/small_icon_2.png);
        background-repeat: no-repeat;
        width: 26px;
        height: 29px;
    }
    
    /* 7. contact  -------------------------------------*/
    #container section:nth-of-type(5) {
        text-align: center;
        height: 740px;
        background: url(../images/bg_2.png);
        background-repeat: no-repeat;
        color: #fff;
    }
    .contact_wrap {
        width: 1200px;
        margin: 0 auto;
    }
    .contact_wrap h2{
        padding-top: 150px;
        font-family: Pretendard;
        font-size: 40px;
        font-weight: 800;
    }
    .contact_wrap h2 p{
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
    }

    .contact_info{
        width: 1200px;
        height: 260px;
        padding-top: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .contact_info li{
        float: left;
        width: 280px;
        height: 260px;
        text-align: center;
        border-radius: 30px;
    }
    .contact_info li:nth-of-type(1) {
        background: url(../images/address_icon.png), rgba(255, 255, 255, 0.1);
        background-repeat: no-repeat;
        background-position: 120px 60px;
    }
    .contact_info li:nth-of-type(2) {
        background: url(../images/cellphone_icon.png), rgba(255, 255, 255, 0.1);
        background-repeat: no-repeat;
        background-position: 122px 60px;
    }
    .contact_info li:nth-of-type(3) {
        background: url(../images/e-mail_icon.png), rgba(255, 255, 255, 0.1);
        background-repeat: no-repeat;
        background-position: 113px 60px;
    }
    .contact_info li:nth-of-type(4) {
        background: url(../images/website_icon.png), rgba(255, 255, 255, 0.1);
        background-repeat: no-repeat;
        background-position: 114px 60px;
    }

    .contact_info li p:first-child {
        margin-top: 152px;
        font-family: Pretendard;
        font-size: 20px;
        font-weight: 700;
    }
    .contact_info li p:last-child {
        margin-top: 15px;
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 400;
    }





    /* 8. footer  -------------------------------------*/
    #footer{
        height:220px;
        text-align:center;
        color: #fff;
        background-color: #343A45;
    }
    #footer h2 {
        font-family: GongGothicMedium;
        font-size: 27px;
        font-weight: 700;
        padding-top: 75px;
    }
    .footer_wrap p:first-child {
        position: fixed;
        left: 95%;
        bottom: 30px;
    }
    .footer_wrap p:last-child {
        font-family: Pretendard;
        font-size: 16px;
        font-weight: 400;
        margin-top: 20px;
    }

    .fa-circle-chevron-up {
        cursor: pointer;
    }
    .fa-circle-chevron-up:hover {
        opacity: 0.7;
    }
}


@keyframes cursor{ 
    0%{border-right: 1px solid #fff} 
    50%{border-right: 1px solid #000} 
    100%{border-right: 1px solid #fff} 
}